html
{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font-family: verdana, Arial, Helvetica, sans-serif;
	/*text-align: center;*/
	color:#F8F0F0;
}
*,*::before,*::after
{
	margin: 0;

	padding:0;
	box-sizing: inherit;
}
.container
{
	border:1px solid black;
	/*display: flex;*/
	/*height:700px*/


	display: grid;
	grid-template-columns:repeat(8,1fr);
	/*grid-row-gap: 20px;		*/
	/*grid-column-gap: 20px;*/
	/*padding: 20px;*/
	/*width:auto;*/

}

.page-element
{
	
	/*border: 1px solid black;*/
}
#page-header
{   grid-column-start: 1;
	grid-column-end: 9;
	/*display: none;*/
	background-color:#000000;
	height:70px;
	margin-bottom: 5px;

}
#page-navigation{
	grid-column-start: 1;
	grid-column-end: 9;
	background-color: #787878;
	height:40px;
	list-style-type: none;
	margin: 0;
	padding-bottom: 5px;
	overflow: hidden;
	background-color:black;
	/*position: fixed;*/
	/*top:0px;*/
	/*width: 100%;*/
}
#logo
{
	height:45px;
	width: 45px;
	/*border:1px solid red;*/
	margin: 10px 40px 10px 10px;
	padding-left: 10px;
}

ul
{
	list-style-type: none;
}
li
{
	float: left;
}
li a
{
	display: block;
	padding: 18px;
	color:#FFFFFF;
	text-decoration:none;
}
li a:hover{
	background-color: #e09326;
}

#page-section
{
	grid-column-start: 2;
	grid-column-end: 9;
	/*background-repeat: none;*/
	display: relative;
	left: 20px;
	 /*#D5EEBB;*/
	height:900px;
	/*background-image: linear-gradient(to right, black,white);*/
	background-color: white;


}
#page-footer
{
	grid-column-start: 1;
	grid-column-end: 9;
	background-color: #F8F8F8;
	height:90px;
}
#page-sidebar
{
	grid-column-start:1;
	grid-column-end:1;
	background-color:##000000;
	border: 1px solid black;
	margin-top:5px;
	overflow: hidden;
	/*color:black;*/
				/*background-image: linear-gradient(to right, black,white);*/

}
.page-element
{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black;
}

form
{
	/*border: 1px solid black;*/
	position: relative;
	left:30px;
	top:20px;
	width:600px;
	/*overflow: hidden;*/
	/*display: flex;*/
	/*background-color:#f7dbb2;*/
	/*border: 1px solid black;*/
	border-radius: 5px;
	height: inherit;
}
#form-name
{
	text-align: center;
	color:black;
	/*border:1px solid blue;*/
	background-color:#e09326;
	padding: 15px;
}
.reg-form
{
	display: flex;
	justify-content: center;
	margin: 10px;
	/*border: 1px solid black;*/
	overflow: hidden;
	/*margin-bottom: 10px;*/

	/*border-radius: 5px;*/
	background-color: #faefe1;
}

label { display:inline-block; 
	width: 100px; 
	color:black;

	/*border:1px solid red;*/
}
.form-ele
{
	/*border: 2px solid black;*/
	margin:20px;
}

.my-btn
{
	height: 30px;
	width: 60px;
	border:1px solid black;
}
#form-btn,#my-textarea{
display:flex;
  justify-content: center;
  align-items: center;

}
#submit
{
margin-right: 30px;	
}
.my-btn {
  padding:5px;
  /*font-size: 24px;*/
  text-align: center;
  cursor: pointer;
  /*outline: none;*/
  /*color: #fff;*/
  background-color:#F8F8F8;
  border: none;
  border-radius: 5px;
  /*box-shadow: 0 9px #999;*/
}

.my-btn:hover {background-color: #e09326;}

 
{
border:1 px solid red;
}

.sidebar-menu
{
display: block;
padding:20px;
width: 100%;

}
.fa {
  padding:5px;
  font-size: 10px;
  width:30px;
  height: 30px;
  text-align: center;
  text-decoration: none;

  border-radius:20%;
  margin-top: 20px;
  margin-left: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
