html
{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font-family: verdana, Arial, Helvetica, sans-serif;
	/*text-align: center;*/
	color:#F8F0F0;
}
*,*::before,*::after
{
	margin: 0;

	padding:0;
	box-sizing: inherit;
}
.container
{
	border:1px solid black;
	/*display: flex;*/
	/*height:700px*/


	display: grid;
	grid-template-columns:repeat(8,1fr);
	/*grid-row-gap: 20px;		*/
	/*grid-column-gap: 20px;*/
	/*padding: 20px;*/
	/*width:auto;*/

}

.page-element
{
	
	/*border: 1px solid black;*/
}
#page-header
{   grid-column-start: 1;
	grid-column-end: 9;
	display: none;
	background-color: #444941;
}
#page-navigation{
	grid-column-start: 1;
	grid-column-end: 9;
	background-color: #444941;
	height:60px;
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black;
	/*position: fixed;*/
	/*top:0px;*/
	/*width: 100%;*/
}
#logo
{
	height:45px;
	width: 45px;
	/*border:1px solid red;*/
	margin: 10px 40px 10px 10px;
	padding-left: 10px;
}
ul
{
	list-style-type: none;
}
li
{
	float: left;
}
li a
{
	display: block;
	padding: 18px;
	color:#FFFFFF;
	text-decoration:none;
}
li a:hover{
	background-color: #e09326;
}

#page-section
{
	grid-column-start: 3;
	grid-column-end: 9;
	/*background-repeat: none;*/
	 /*#D5EEBB;*/
	height:700px;
	/*background-image: linear-gradient(to right, black,white);*/
	background-color: white;


}
#page-footer
{
	grid-column-start: 1;
	grid-column-end: 9;
	background-color: #444941;
	height: 35px;
}
#page-sidebar
{
	grid-column-start:1;
	grid-column-end:3;
	background-color: #F8F8F8	;
				/*background-image: linear-gradient(to right, black,white);*/

}
.page-element
{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black;
}

form
{
	/*border: 1px solid black;*/
	position: relative;
	left:30px;
	top:20px;
	width:500px;
	/*overflow: hidden;*/
	/*display: flex;*/
	/*background-color:#f7dbb2;*/
	border: 1px solid transparent;
	border-radius: 5px;
}
#form-name
{
	text-align: center;
	color:black;
	/*border:1px solid blue;*/
	background-color:#e09326;
	padding: 15px;
}
.reg-form
{
	display: flex;
	justify-content: center;
	margin: 10px;
	/*border: 1px solid black;*/
	overflow: hidden;
	/*margin-bottom: 10px;*/

	/*border-radius: 5px;*/
}

label { display:inline-block; 
	width: 100px; 
	color:black;

	/*border:1px solid red;*/
}
.form-ele
{
	border: 2px solid black;
	margin:20px;
}
.my-btn
{
	height: 30px;
	width: 60px;
}
#form-btn{
display: flex;
  justify-content: center;
  align-items: center;

}